body,
html {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 3px solid #3c61b9;
    background: white;
}

header h1 a {
    color: #f4511e;
}

header h1 a span {
    color: #3c61b9;
}

header ul {
    display: flex;
    text-transform: uppercase;
    list-style: none;
    width: 90%;
    margin-right: 30px;
}


header li {
    text-decoration: none;
    border-radius: 15px;
    height: 17px;
    width: 114px;
}

header a {
    color: #4772d9;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: bold;
}

.active a {
    color: rgb(255, 255, 255);
    background: #3c61b9;
}



header li:hover a {
    color: white;
    background: #3c61b9;
}

#login {
    border-radius: 5px;
    border: 1px solid rgb(90, 90, 90);
    padding: 5px;
    /* height: 19px; */
    font-weight: bold;
}


.dropbtn {
    padding: 5px 20px;
    /* height: 19px; */
    font-weight: bold;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 50px;

  }
  .fa-user{
    margin-right: 50px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 3px;
    text-decoration: none;
    text-align: center;
    display: block;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

#signup {
    font-weight: bold;
}

#signup:hover {
    background: #4ee45a;
    color: white;
}




/* -------------------- section -------------------- */

section {
    position: relative;
    height: 95vh;
}

#bglanding {
    position: absolute;
    width: 100%;
    height: 95vh;
}

#landing {
    margin: 0;
    position: relative;
    top: 170px;
    text-align: center;
}

#landing #text {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#landing div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px;
    position: relative;
    left: 9px;
}

    strong {
        font-weight: 700;
        }


.company {
    margin: 0 20px;
    background: #3c61b9;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    font-weight: bold;
    padding: 8px 17px;
    transition: all 0.5s;
    text-align: center;
}

.candidate {
    background: #f4511e;
    color: #ffffff;
    font-size: 20px;
    border-radius: 3px;
    font-weight: bold;
    transition: all 0.5s;
    padding: 5px 13px;
    text-align: center;
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
    padding: 0;
}

/* ------------ main ------------ */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #f4511e;
    margin-top: 30px;
}


main .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main .container .lang {
    width: 200px;
    height: 250px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 40px 4%;
    border: 1px solid rgb(165, 164, 164);
    text-align: center;
}

main .container .lang img {
    width: 200px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 20px;
}
main .container .lang:hover {
    border: 2px solid rgb(78, 78, 78);

}
footer{
  left: 0;
  bottom: 0;
  width: 100%;
   height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.separator{
border: .5px solid wheat;
}

/* ------------ Footer ------------ */

.site-footer
{
    margin-top : 20px ;
  background-color:#0e1124;
  font-size:15px;
  line-height:24px;
  color:#737373;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 10px;
}
.text-justify{
    max-width: 500px;
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin :5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
  text-decoration: none;
  line-height:40px;

}
.site-footer a:hover
{
  color:#a5bff5;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}

.site-footer .social-icons
{
  text-align:center;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:30px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}

.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#bac5c9
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.GitHub:hover
{
  background-color:#639ce6
}



footer {
    bottom: 0;
    color: #fff;
    background-color: #0e1124;
    text-align: center;
    height: 45px;
    justify-content: center;
    display: flex;
}