body{
    font-family: 'Open Sans', sans-serif;   
     background: linear-gradient(to right, #9bb4c7 0%, #283269 100%);
  }
.profile-container{
    height: 485px;
    width: 100%;
    margin: 20px;
    
}
.profile-menu{
    float: left;
    width: 300px;
    height: 500px;
    margin-right: 20px;
    background: #ffffff;
    border-radius: 25px;
}
.image-container{
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    text-align: center;    
}

img{
    max-width: 139px;
    height: auto;
    border-radius: 50%;
}

.ul{
    list-style: none;
    padding: 0;
    margin: 2px;
    color: #7c7878;
}
.li{
    line-height: 50px;
    font-weight: 500;
    padding-left: 30px;
    font-size: 15px;
}

.description{
    line-height: 15px;
    border-bottom: 1px solid #c7c5c5;

}
#description{
font-weight: bold;
padding-left: 10px;
color: rgb(82, 82, 82);

}
.email{
    margin: 5px;
    font-size: 11px;
    color: rgb(110, 108, 108);
    
}
.name{
    color:#e94311;
    margin: 5px;
    
}
.username{
    font-size: 14px;
    margin: 5px;
    display: inline-block;
    border: 2px solid;
    padding: 5px;
    border-radius: 25px;
    border-color: rgb(40, 40, 138);
    color: rgb(12, 12, 107);

}
#active{
    border-left: 3px solid brown;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #c7c5c5;

}
.activity{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;

}